@import "~antd/dist/antd.css";
body {
  /* margin: 0; */
  background-color: #f1f1f1;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  /* font-size: 48px; */
}
h2 {
  color: white;
}
p {
  font-family: "Lato", sans-serif;
  letter-spacing: 0px;
  font-size: 16px;
  color: #333333;
}
.masihaVafaNav {
  font: 28px "Merienda One", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 3px 3px 3px rgb(66, 71, 112);
}
/* NavBar for mobile */
@media (max-width: 720px) {
  .navbar-nav {
    position: relative;
    top: 0rem;
    flex-direction: row;
    height: auto;
    width: 100%;
    border-bottom: 1px dashed #bfbfbf;
    opacity: 0.95;
    z-index: 5;
    transition: all 0.35s ease;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
  }
}
/* End Nav for mobile */

.header {
  /* position: relative; */
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );

  width: "100%";
  color: white;
  border-bottom-left-radius: 90% 20%;
  border-bottom-right-radius: 90% 20%;
}
.hello {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}
.shine {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;

  /* font-family: "Merriweather", serif; */
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 3s linear infinite;
}
/* for text animation */

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
.masihaimg {
  width: 50vw;
}
.masiha {
  width: 100%;
}
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 0.75rem;
  color: rgb(255, 255, 255);
}
.social-circle li a i {
  width: 30px;
  height: 30px;
  font-size: 30px;
  /* color: rgb(255, 255, 255); */
  /* fill: white; */
  transition: all 0.5s ease;
}
.social-circle li a i:hover {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
  transition: all 0.5s ease;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* ======== aboutMe ========= */
.about {
  height: auto;
  margin-bottom: 1rem;
}
.about h2 {
  color: #1e63a9;
  margin-left: 1.5rem;
}
.aboutMe-note {
  border: 1px solid #2a74bc9e;
  border-style: dashed;
  border-width: medium;
  padding: 0.5rem;
  border-radius: 1rem;
}
.aboutMe-note p {
  background-color: #188bbe21;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 0px;
}
.aboutMe-note .education {
  background-color: #188bbe21;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 0px;
}
.WhoAmI {
  width: 12rem;
  height: 12rem;
  fill: white;
  display: block;
  margin: 0 auto;
}
.uniLogo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid #2a74bc9e;
  margin-bottom: 1rem;
}

/* ========= Start Skill div ==========*/
.skills-container {
  height: auto;
}
.skills-banner {
  margin-top: 0.5rem;
  width: 100%;
  /* height: 15rem; */
}
.skill-image {
  width: 100%;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  border-radius: 1rem;

  /* Create the parallax scrolling effect */

  justify-content: center;
}
.caption {
  padding: 0.75rem;
  color: white;
  /* background-color: rgba(84, 58, 183, 1); */
  width: 25vw;
  text-align: center;
}
.caption img {
  width: 50%;
}

.skills-tab {
  padding: 1rem;
  height: auto;
  overflow-y: hidden;
  transition: height 0.4s linear;
}
.web-development {
  /* flex : 0 0 ; */
  padding: 0.5rem;
  margin: 0;
}
.icon {
  width: 10rem;
  height: 10rem;
  background-color: teal;
}
.circleSkillsWrapper {
  border: 1px solid #2a74bc9e;
  border-style: dashed;
  border-width: medium;
  padding: 0.5rem;
  border-radius: 1rem;
}
.skills {
  padding: 1rem;
  background-color: #d5e4eb;
  border-radius: 1rem;
}
.skillName {
  margin-top: 0.5rem;
  font-family: Arial;
  font-weight: 700;
  color: #0758ab;
}
.skillCircle {
  margin: 1rem 0rem;
}
.eachSkill {
  /* width: 100%; */
}

/* ========= End Skill div ==========*/
.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

/* ====== FAB ====== */

/* ====== End FAB ====== */
